<%- include('header') %>
<%- include('navigation-bar') %>
<%- include('query-table') %>
<div class="container" style="margin-bottom: 20px">
    <%- include('student-table') %>
    <%- include('student-edit-dialog') %>
    <%- include('student-delete-dialog') %>
</div>
<%- include('footer')%>